body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('https://wallpaperaccess.com/full/26174.png')center/cover no-repeat;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.counter-box {
    width: 70%;
    text-align: center;
    border: 5px solid wheat;
    padding: 2rem;
    font-weight: bold;
    box-shadow: 3px 3px 10px 10px wheat;
}

.counter {
    font-size: 6rem;
}

.btn {
    cursor: pointer;
    background: orangered;
    color: wheat;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
    margin: .5rem;
    border: 0;
    outline: none;
    transition: .3s ease;
    font-weight: bold;
}

.btn:hover {
    background: rgba(255, 68, 0, 0.664);
}